! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6



! Xcursor --------------------------------------------------------------------

Xcursor.theme: capitaine-cursors
Xcursor.size:  18

! xterm ----------------------------------------------------------------------

xterm*VT100.geometry:     80x25
xterm*font: 7x13

*customization: -color
xterm*termName: xterm-256color
xterm*dynamicColors: true
xterm*alwaysBoldMode: false
xterm*boldMode: false
xterm*colorMode: true
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc

xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          512
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

URxvt.font:     xft:Input Mono:size=12:antialias=true
URxvt.boldFont: xft:Input Mono:bold:size=12:antialias=true
URxvt.scrollBar: false
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: true
URxvt.iso14755_52: true

URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list

URxvt.imLocale: en_US.utf8