! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! Xcursor --------------------------------------------------------------------

Xcursor.theme: capitaine-cursors
Xcursor.size:  18

! xterm ----------------------------------------------------------------------

xterm*VT100.geometry:     80x25
xterm*font: 7x13

*customization: -color
xterm*termName: xterm-256color
xterm*dynamicColors: true
xterm*alwaysBoldMode: false
xterm*boldMode: false
xterm*colorMode: true
xterm*colorBDMode: true
xterm*colorBD: rgb:fc/fc/fc

xterm*utf8:               2
xterm*eightBitInput:      true
xterm*saveLines:          512
xterm*scrollKey:          true
xterm*scrollTtyOutput:    false
xterm*scrollBar:          true
xterm*rightScrollBar:     true
xterm*jumpScroll:         true
xterm*multiScroll:        true
xterm*toolBar:            false

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

URxvt.font: xft:Input Mono:size=12:pixelsize=12
URxvt.scrollBar: false
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
