[user]
    name = Nemo
    email = me@captnemo.in
	signingkey = 468F9102AB8BF8C959C2F9A4F94EA74A4EA9EB52

[github]
    user = captn3m0

[alias]
    rod = rebase origin/development
    rom = rebase origin/master
    rum = rebase upstream/master
    pom = push origin master
    pod = push origin development
    pogh = push origin gh-pages
    get = pull --rebase
    pu = pull
    po  = push origin
    fo  = fetch origin
    co  = checkout
    ci  = commit
    from = "! git fetch origin; git rebase origin/master"
    frogh = "! git fetch origin; git rebase origin/gh-pages"
    frum = "! git fetch upstream; git rebase upstream/master"
	pushall = !git remote | xargs -L1 git push --all

[rerere]
    enabled = true

[color]
    branch = auto
    diff   = auto
    status = auto
	ui = true

[alias]
    l50 = "!git log --abbrev-commit --date=short --pretty=format:'%x00%h%x00%cd%x00%s%x00%an%x00%d' | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-50s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, $3, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$4), $5, $6 }' | less -R"
    l80 = "!git log --abbrev-commit --date=short --pretty=format:'%x00%h%x00%cd%x00%s%x00%an%x00%d' | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m \\033[32m%s\\033[0m  %-80s \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, $3, gensub(/(.{79}).{2,}/, \"\\\\1…\",\"g\",$4), $5, $6 }' | less -R"
    lg50 = "!git log --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-50s \\033[32m%14s\\033[0m \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{49}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }' | less -R"
    lg80 = "!git log --graph --color=always --abbrev-commit --date=relative --pretty=format:'%x00%h%x00%s%x00%cd%x00%an%x00%d' | gawk -F '\\0' '{ printf \"%s\\033[31m%s\\033[0m %-80s \\033[32m%14s\\033[0m \\033[30;1m%s\\033[0m\\033[33m%s\\n\", $1, $2, gensub(/(.{79}).{2,}/, \"\\\\1…\",\"g\",$3), $4, $5, $6 }' | less -R"
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue)(%an <%ae>)%Creset' --abbrev-commit --date=relative
	hooks = !~/.githooks/bin/githooks
[help]
    autocorrect = 10

[push]
    default = current

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[core]
    # https://github.com/so-fancy/diff-so-fancy
	pager = diff-so-fancy | less --tabs=4 -RFX
	preloadindex = true
	quotepath = false

[svn-remote "svn"]
#svn checkout https://svn.code.sf.net/p/elibsrv/code/ elibsrv-code
#    url = http://localhost:81/svn/project/branches
    branches = 
    tags = 
[credential]
	helper = cache --timeout=3600
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	useUnicodeRuler = false
[init]
	templateDir = ~/.githooks/templates
